includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
parameters:
    paths:
        - V1
        - database/seeds
    level: 8
    checkMissingIterableValueType: false
services:
    -
        class: NunoMaduro\Larastan\ReturnTypes\Helpers\AppExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
